*{
    margin: 0px;
    padding: 0px;
    color : #E384FF;
    background-color: black;
    border-collapse: collapse;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-blend-mode: color; */
}

th , td {
    padding: 12px;
    margin: 20px;
    border:2px solid rgb(0, 255, 242);
    color:#E384FF ;
}

